<div class="price-item">
    {{ form_row(form.priceOne) }}
    {{ form_row(form.priceTen) }}
    {{ form_row(form.priceHundred) }}
    <button type="button" class="remove-price-button">Supprimer ce prix</button>
</div>