{% extends 'base.html.twig' %}

{% block title %}Bientôt | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Bientôt les statistiques des ressources !</h1>

    <img class="rounded-lg m-auto w-92" src="{{ asset("uploads/chartblur.png") }}" alt="Image graphique ventes">
{% endblock %}
