{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-style">
{#        {% for data in datas %}#}
{#            <p>{{ data.name }}</p>#}
{#        {% endfor %}#}
    </div>
{% endblock body %}