{% extends 'base.html.twig' %}

{% block title %}Editer record | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Editer un record</h1>

    <section class="wrapper wrapper-style">
        {{ include('record/_form.html.twig') }}
    </section>
{% endblock %}
