{% extends 'base.html.twig' %}

{% block title %}Nouveau record | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Créer un record</h1>

    <section class="wrapper wrapper-style">
        {{ include('record/includes/_form.html.twig') }}
    </section>
{% endblock %}
