<div class="tab-pane">
    <h2>Records</h2>
    <p>La section record vous permet une fois connecté d'ajouter un record de temps sur n'importe quel monstre.</p>
    <p>Vous pouvez ajouter un record en cliquant sur le bouton créer, puis en renseignant les diverses informations</p>
    <p>Le record est soumis à validation avant publication.</p>
    <p>Le lien doit être un lien youtube valide ou le record sera supprimé.</p>
    <p>Chaque record sera analysé.</p>
    <p>Une fois créé un record n'est plus modifiable</p>
</div>