{% extends 'base.html.twig' %}

{% block title %}Protection des données | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Protection de vos données personnelles</h1>

    <div class="wrapper wrapper-style grid gap-8">

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Introduction</h2>
            <p>Nous prenons la protection de vos données personnelles très au sérieux. Cette politique de protection des données vous informe de la manière dont nous collectons, utilisons, divulguons et protégeons vos informations personnelles.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Collecte des données</h2>
            <p>Nous collectons les données personnelles que vous nous fournissez lors de votre inscription et utilisation de notre service, telles que votre nom, adresse e-mail, pseudonyme, photographie de profil, etc. Ces informations sont nécessaires pour fournir nos services et améliorer votre expérience utilisateur.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Utilisation des données</h2>
            <p>Vos données personnelles sont utilisées pour gérer votre compte, vous fournir les services demandés, communiquer avec vous, et améliorer nos services. Nous ne partageons vos données qu'avec votre consentement ou pour des raisons légales.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Sécurité des données</h2>
            <p>Nous utilisons des mesures de sécurité techniques et organisationnelles pour protéger vos données contre l'accès non autorisé, la perte, la destruction ou la modification. Cela inclut le cryptage des données, des contrôles d'accès stricts, et des protocoles de sécurité informatique.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Droits des utilisateurs</h2>
            <p>Conformément au RGPD, vous disposez de plusieurs droits concernant vos données personnelles, y compris le droit d'accès, de rectification, d'effacement, de limitation du traitement, et le droit à la portabilité des données. Pour exercer ces droits, veuillez nous contacter via les coordonnées fournies.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Conservation des données</h2>
            <p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour fournir nos services et nous conformer à nos obligations légales. Après cela, vos données seront supprimées ou anonymisées.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Transferts de données</h2>
            <p>Vos informations peuvent être transférées et traitées dans des pays en dehors de l'Espace économique européen (EEE). Dans ce cas, nous nous assurons que des protections adéquates sont en place pour garantir la sécurité de vos données.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Modifications de la politique de protection des données</h2>
            <p>Nous pouvons mettre à jour cette politique de protection des données à tout moment. Les modifications seront publiées sur cette page avec la date de mise à jour.</p>
        </div>

        <div class="grid gap-4">
            <h2 class="text-primary-500 dark:text-primary-400">Contact</h2>
            <p>Si vous avez des questions ou des préoccupations concernant cette politique ou le traitement de vos données personnelles, veuillez nous contacter à [monifus.contact@gmail.com].</p>
        </div>

        <p class="text-gray-300 dark:text-gray-600">Cette politique a été mise à jour pour la dernière fois le [07/02/24].</p>
    </div>
{% endblock %}
