<section class="flex justify-center items-center">
    <a target="_blank" class="rounded-lg bg-blue-600 hover:bg-blue-700 transition duration-300 px-2 py-1 text-white border border-blue-400 text-xs inline-flex items-center uppercase space-x-2 mx-auto" href="{{ path('app_documentation') }}">
        <i class="w-4" data-feather="book"></i>
        <span>Documentation</span>
    </a>
</section>