<a href="{{ path('app_home') }}" class="nav-item">
    <img class="w-6" src="{{ asset("uploads/logo.svg") }}" alt="logo">
    <span class="hidden ml-6 group-hover:block text-xl font-bold family">Monifus</span>
</a>