<a href="{{ path('app_home') }}" class="flex justify-center items-center my-6 text-2xl font-semibold text-gray-900 dark:text-white">
    <img class="h-8 mr-2" src="{{ asset("uploads/diagramme-circulaire.png") }}" alt="logo">
    Monifus
</a>