<nav class="p-4 bg-gray-50 wrapper wrapper-style sticky top-6 z-50">
    <div class="flex flex-wrap justify-between items-center w-full">
        <div>
            <p class="text-xs">Path / <span class="font-bold text-gray-700 dark:text-gray-200">Accueil</span></p>
            <p class="font-extrabold text-lg text-gray-700 dark:text-gray-200">Bonjour {{ app.user.pseudonymeWebsite }}</p>
        </div>
        <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500" aria-controls="navbar-solid-bg" aria-expanded="false">
            <span class="sr-only">Ouvrir le menu</span>
            <svg class="w-6 h-6 text-gray-700 dark:text-gray-200" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-d dark:border-gray-700">
                <li>
                    <a href="{{ path('app_home') }}" class="block py-2 pr-4 hover:text-primary-500 duration-300 transition hover:duration-300 md:border-0 md:p-0 dark:hover:text-primary-500">Accueil</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pr-4 hover:text-primary-500 duration-300 transition hover:duration-300 md:border-0 md:p-0 dark:hover:text-primary-500">Services</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pr-4 hover:text-primary-500 duration-300 transition hover:duration-300 md:border-0 md:p-0 dark:hover:text-primary-500">Pricing</a>
                </li>
                <li>
                    <a href="#" class="block py-2 pr-4 hover:text-primary-500 duration-300 transition hover:duration-300 md:border-0 md:p-0 dark:hover:text-primary-500">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
