<aside class="w-64 py-6 pl-4 sticky top-0 h-screen hidden md:block" aria-label="Sidebar">
    {% include('includes/logo.html.twig') %}
    <ul class="space-y-2">
        <li>
            <a href="{{ path('app_home') }}" class="flex items-center item">
                <i data-feather="home" class="w-4"></i>
                <span class="ml-3">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{{ path('app_profil') }}" class="flex items-center item">
                <i data-feather="user" class="w-4"></i>
                <span class="flex-1 ml-3 whitespace-nowrap">Profil</span>
            </a>
        </li>
        {% if is_granted('ROLE_MANAGER') %}
            <li>
                <a href="{{ path('app_api_to_database') }}" class="flex items-center item">
                    <i data-feather="user" class="w-4"></i>
                    <span class="flex-1 ml-3 whitespace-nowrap">DATABASE Refresh</span>
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path("app_logout") }}" class="flex items-center item">
                <i data-feather="log-out" class="w-4"></i>
                <span class="flex-1 ml-3 whitespace-nowrap">Déconnexion</span>
            </a>
        </li>
    </ul>
</aside>
