{% extends 'base.html.twig' %}

{% block title %}Nouvelle vente | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une vente</h1>

    {{ include('includes/documentation.html.twig') }}

    <section class="wrapper wrapper-style grid gap-4">

        <div class="flex justify-center">
            <div class="wrapper wrapper-yellow lg:space-x-4">
                <i class="hidden lg:block" data-feather="alert-triangle"></i>
                <p><strong>Attention : </strong>Les ventes ne sont la <strong>QUE</strong> pour les <strong>équipements</strong>. Pour les ressources, ajoutez plutôt un
                    <a class="text-tertiary-400" href="{{ path("app_price_new") }}">moniteur</a></p>
            </div>
        </div>

        {{ include('sale/includes/_form.html.twig') }}
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let buyDateInput = document.getElementById('sale_buyDate'); // Remplacez 'buy_date_input_id' par l'ID réel de votre input
            if (!buyDateInput.value) { // Vérifie si le champ est vide
                buyDateInput.value = new Date().toISOString().slice(0, 16); // Format: YYYY-MM-DDTHH:mm
            }
        });
    </script>
{% endblock %}
