{% extends 'base.html.twig' %}

{% block title %}Nouvelle vente | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Créer une vente</h1>

    <section class="wrapper wrapper-style">
        {{ include('sale/_form.html.twig') }}
    </section>
{% endblock %}
