.popup {
  @apply bg-green-100 border-t-4 border-green-500 rounded-lg text-green-900 px-4 py-3 shadow-md fixed left-1/2 -translate-x-1/2 w-[calc(100%-2rem)] z-50 sm:w-auto;

  &-enter {
    animation: slideDown 2s forwards;
  }

  &-exit {
    animation: slideUp 2s forwards;
  }
}

@keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 20px;
  }
}

@keyframes slideUp {
  from {
    top: 20px;
  }
  to {
    top: -100%;
  }
}