.popup {
  @apply wrapper wrapper-green fixed left-1/2 -translate-x-1/2 w-[calc(100%-2rem)] z-50 sm:w-auto;

  &-enter {
    animation: slideDown 2s forwards;
  }

  &-exit {
    animation: slideUp 2s forwards;
  }

  &-content {
    @apply relative flex text-lg;
  }

  &-close {
    @apply ml-4 text-xs text-gray-400 dark:text-gray-500 uppercase;
  }
}

@keyframes slideDown {
  from {
    bottom: -100%;
  }
  to {
    bottom: 20px;
  }
}

@keyframes slideUp {
  from {
    bottom: 20px;
  }
  to {
    bottom: -100%;
  }
}