{% extends 'base.html.twig' %}

{% block title %}Détails de la Ressource{% endblock %}

{% block body %}

    <h1>Détails de la Ressource: {{ resource.name }}</h1>

    <section class="grid 2xl:grid-cols-2">
        <div class="wrapper wrapper-style ">
            <button class="period-selector" data-period="day">Jour</button>
            <button class="period-selector" data-period="week">Semaine</button>
            <button class="period-selector" data-period="month">Mois</button>
            <button class="period-selector" data-period="year">Année</button>

            <canvas id="myChart" data-resource-id="{{ resource.id }}"></canvas>
        </div>
    </section>

    {# Autres détails de la ressource #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('chartResource') }}
{% endblock %}