{% extends 'base.html.twig' %}

{% block title %}New Monitor{% endblock %}

{% block body %}
    <section>
        <h1 class="md:col-start-1 md:col-end-4">Créer un moniteur</h1>

        {{ include('monitor/_form.html.twig') }}

        <a class="form-submit" href="{{ path('app_monitor_index') }}">Retour</a>
    </section>
{% endblock %}
