{% extends 'base.html.twig' %}

{% block title %}Nouveau Moniteur | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Créer un moniteur</h1>

    <section class="wrapper-style grid gap-4 lg:gap-6">

        {{ include('monitor/_form.html.twig') }}

        <div class="flex justify-center">
            <a class="form-submit" href="{{ path('app_monitor_index') }}">Retour</a>
        </div>
    </section>
{% endblock %}
