{% extends 'base.html.twig' %}

{% block title %}Editer guilde | {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="text-center">Editer votre guilde</h1>

    <section class="wrapper wrapper-style">
        {{ include('guild/includes/_form.html.twig') }}
    </section>
{% endblock %}
